.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
/* .form-tittle{
  text-align: center;
  font-size: 150%;
  font-weight: bold;
  color: blue;
}
.custom_h1{
  text-align: center;
  font-size: 175%;
  color: #FFF;
  text-shadow: 1px 1px #FF8040, 2px 2px #FF8040, 3px 3px #FF8040;
}
.myapp-form-group{
  font-size: 115%;
  font-weight: bold;
  text-align: center;
  border-top: black;
  width: 100%;
  height: 50px;
 border-radius: 5px;
}
.myapp input{
  width: 100%;
  height: 50px;
 border-radius: 5px;
 font-size: 50%;
}
.button_primary{
  font-size: 40px;
  border: 2px;
  color:white;
  background-color: blue;
  text-align: center
}

.custom_login{
  text-align: center;
  font-size: 125%;
  padding-top: 2%;
}
.login_question{
  text-align: center;
  font-size: 125%;
}
.myapp_custom{
 
 
}
.custom_target{
  font-size: 20px;
  text-align: center;
float: flex;
}

.row{
  margin-right: 5px;
  text-align: center;
}
.password_box{
  text-align: center;
}
.col-sm-4.custom_target{
text-align: center;
 
} */
.container{
  font-size: 125%;
  font-weight: bold;
  font-family:Arial, Helvetica, sans-serif;
  text-align: center;
}
.container.navbar-brand{
  font-size: 150%;
}
.container.collapse navbar-collapse{
  font-size: 150%;
  font-weight: bold;
}
.collapse navbar-collapse{
  font-size: 150%;
  font-weight: bold;
}
.form-group{
  text-align:center;
  
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
