@import url('http://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800');
*{
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  min-height: 100vh;
  display: flex;
  font-family: 'Fira Sans'sans-serif;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.navbar-light{
background-color: #ffffff;
box-shadow: 0px 14px 80px rgba(34, 35, blue, alpha);
}
.container{
  font-size: 125%;
  font-weight: bold;
  font-family:Arial, Helvetica, sans-serif;
}
.container.navbar-brand{
  font-size: 150%;
}
.container.collapse navbar-collapse{
  font-size: 150%;
  font-weight: bold;
}
.collapse navbar-collapse{
  font-size: 150%;
  font-weight: bold;
}
h2{
  font-size: 50px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  padding-top: 20px;
  text-align: center;
}
form-group{
text-align: center;
}
.form-tittle{
  text-align: center;
  padding-top: 5px;
  padding-right: 50px;
}
.form-group{
  text-align:center;
  
}